@media screen and (max-width: 48rem)
  body
    margin: 5px
    padding: 0
  .header .header-inner,
  nav.nav,
  .box .box-heading,
  article.article
    padding-left: .625rem
    padding-right: @padding-left
  .alphabet-table .alphabet-item
    width: 7.6923076923076925%
